[Unit]
Description=Tshark and split
After=network-online.target
Wants=network-online.target

[Service]
Environment=NAME=tshark
Restart=on-failure
RestartSec=10
ExecStartPre=-/bin/mkdir -p /vagrant/data
Environment=INTERFACE=eth1
Environment=LINES_BY_FILE=500
Environment=OUTDIR=/vagrant/data
ExecStart=/vagrant/run-tshark.sh


[Install]
WantedBy=multi-user.target
